# OPERADORES MATEMATICAS

In [9]:
numero1=10
numero2=7
suma=numero1+numero2
resta=numero1-numero2
multiplicacion=numero1*numero2
division=numero1/numero2
residuo=numero1%numero2
cociente=numero1//numero2
print("La suma es :" ,suma)
print("La resta es: ", resta)
print("La multiplicacion:" ,multiplicacion)
print("La division es : ",division)
print("El residuo es: " ,residuo)
print("El cociente es:",cociente)

La suma es : 17
La resta es:  3
La multiplicacion: 70
La division es :  1.4285714285714286
El residuo es:  3
El cociente es: 1

In [10]:
numero=5
numero= numero +3
print(numero)

8

In [12]:
numero=5
numero +=3
print(numero)

8

In [14]:
numero=5
numero=numero**3
print(numero)

125

In [15]:
numero=5
numero**=3
print(numero)

125

In [16]:
numero1=5
numero2
numero1==numero2

False

In [19]:
nombre1="Juan"
nombre2="Juan"
nombre1==nombre2

True

In [21]:
numero1=5
numero2=6
numero3=7
numero4=8

In [22]:
numero1<numero2

True

In [23]:
not(numero1<numero2)

False

In [24]:
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [32]:
aula=["Juan","Daniel","Ruben"]
alumno1="Diego"
alumno2="Juan"

In [26]:
alumno1 in aula

False

In [33]:
alumno2 in aula

True

In [35]:
aula1=["Juan","Daniel","Ruben"]
aula2=["Juan","Daniel","Ruben"]
#a ontinuaion vamos a indicar  que el aula 3 compartre el mismo objeto que el aula1
aula3=aula1

In [36]:
aula3 is aula1

True

In [37]:
aula3 is aula2

False

In [39]:
aula1.append("Diego")

In [41]:
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [42]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']